<% if user_signed_in? %>
<% content_for :head do %>
  <title>All Posts | Coeus Tweetz</title>
<% end %>
<div style="float: right;">

<%= button_to('Logout', destroy_user_session_path, :method => :delete, class:"btn btn-warning") %><br>
</div>
<div class="container">
<h1>All Posts</h1>
<p id="notice"><%= notice %></p>
<%= link_to "New post", new_user_post_path(current_user), class:"btn btn-warning" %><br>
<hr>

<% @posts.each do |post| %>
<div class="card">
  <h6 class="card-header"><%= post.user.name %></h6>
    
  <div class="card-body">
    <h6 class="card-title"><%= post.content %></h6><br><br>
    <div style="float: left; width: auto; margin-right:3px;">
    <%= link_to "Show", user_post_path(current_user, post), class:"btn btn-warning btn-sm" %>

    <% if can? :update, post %>
      <%= link_to "Edit", edit_user_post_path(post.user, post) , class:"btn btn-info btn-sm"%> 
    <%end%>
  </div>
    <% if can? :destroy, post %>
    <%= button_to('Delete', user_post_path(current_user.id, post.id), method: :delete, class:"btn btn-danger btn-sm") %><br>
    <%end%>
  </div>
  <div class="card-footer text-muted">
    <%= distance_of_time_in_words(post.created_at, Time.now, include_seconds: true) %>
  </div>
</div>
<% end %>

</div>
<br>

<%end%>

