<% content_for :head do %>
  <title>All Posts | Coeus Tweetz</title>
<% end %>

<div class="container">
<h1>All Posts</h1>
<p id="notice"><%= notice %></p>
<%= link_to "New post", new_user_post_path, class:"btn btn-warning" %><br>
<hr>

<% @posts.each do |post| %>
<div class="card">
  <h6 class="card-header"><%= post.user.name %></h6>
    
  <div class="card-body">
    <h6 class="card-title"><%= post.content %></h6><br><br>
    <%= link_to "Show", user_post_path(post.user, post), class:"btn btn-warning btn-sm" %>
  </div>
  <div class="card-footer text-muted">
    <%= distance_of_time_in_words(post.created_at, Time.now, include_seconds: true) %>
  </div>
</div>
<% end %>

</div>
<br>


