<% content_for :head do %>
  <title>Post | Coeus Tweetz</title>
<% end %>
<div class="container">

<br><br>
<div class="card">
  <h6 class="card-header"><%= @post.user.name %></h6>
    
  <div class="card-body">
    <h6 class="card-title"><%= @post.content %></h6><br><br>
  </div>
  <div class="card-footer text-muted">
    <%= distance_of_time_in_words(@post.created_at, Time.now, include_seconds: true) %>
  </div>
</div>


<div style="float: left; width: auto; margin-right:3px;">
<%= link_to "Back", user_posts_path(current_user), class:"btn btn-warning btn-sm"%>  
<% if can? :update, @post %>
  <%= link_to "Edit", edit_user_post_path(@post.user, @post) , class:"btn btn-info btn-sm"%> 
<%end%>
</div>
<% if can? :destroy, @post %>
  <%= button_to 'Delete', user_post_path(current_user.id, @post.id), method: :delete, class:"btn btn-danger btn-sm" , :confirm => "Are you sure?" %><br>
<%end%>   
